.class-icon {
  display: inline-block;
  background: no-repeat 50% 50% url('../images/classes.png');
  vertical-align: middle;
}

.class-icon.spy {
  background-position: -0px -0px;
  width: 20px;
  height: 20px;
}

.class-icon.demoman {
  background-position: -20px -0px;
  width: 20px;
  height: 20px;
}

.class-icon.soldier {
  background-position: -40px -0px;
  width: 20px;
  height: 20px;
}

.class-icon.medic {
  background-position: -0px -20px;
  width: 20px;
  height: 20px;
}

.class-icon.pyro {
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}

.class-icon.sniper {
  background-position: -40px -20px;
  width: 20px;
  height: 20px;
}

.class-icon.engineer {
  background-position: -0px -40px;
  width: 20px;
  height: 20px;
}

.class-icon.heavyweapons {
  background-position: -20px -40px;
  width: 20px;
  height: 20px;
}

.class-icon.scout {
  background-position: -40px -40px;
  width: 20px;
  height: 20px;
}
