.killfeed {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  user-select: none;

  .kill {
    .red {
      color: #a75d50;
    }
    .blue {
      color: #5b818f;
    }

    &.active-player {
      background-color: #ddcfb2;
    }

    display: inline-block;
    margin: 3px;
    white-space: nowrap;
    background-color: #2d2727cc;
    border-radius: 5px;
    padding: 5px 15px;
    width: auto;
    text-align: right;
    color: var(--primary-color);
    font-weight: bold;
    float: right;
    clear: both;

    .player {
      padding: 0 5px;
    }
  }
}

.kill-icon {
  display: inline-block;
  height: 22px;
  width: auto;
  vertical-align: middle;
  filter: brightness(600%);
}
