{
	"presets": [
		"es2015",
		"react"
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"transform-decorators-legacy",
		"transform-runtime",
		[
			"transform-async-to-module-method",
			{
				"module": "bluebird",
				"method": "coroutine"
			}
		]
	]
}
