@import 'class_icons';

div.teams {
  margin: 0 -30px;
  padding: 10px 0 0;

  div {
    display: inline-block;
    padding: 10px 30px;
    width: 50%;
    color: white;
  }

  span {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 45px;
  }

  .red {
    padding-right: 15px;
    float: left;
    background: $team--red;
  }

  .red .score {
    float: right;
  }

  .blue {
    padding-left: 15px;
    float: right;
    background: $team--blue;
  }

  .blue .name {
    float: right;
  }
}

table.chat, table.players {
  table-layout: fixed;
  width: 100%;

  td, th {
    padding: 5px 9px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr:nth-child(odd) {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  th {
    padding: 7px 9px;
  }
}

table.players {
  width: 100%;

  .name {
    vertical-align: top;
  }

  .name a {
    text-decoration: none;
    color: black;
  }

  .name a:hover {
    text-decoration: underline;
  }

  .team {
    width: 20px;
  }

  .team.red {
    background: $team--red;
  }

  .team.blue {
    background: $team--blue;
  }

  .stat {
    text-align: right;
  }

  .stat, .class {
    width: 40px;
    vertical-align: top;
  }

  .blue.name {
    text-align: right;
    padding-right: 15px;
  }

  .red.name {
    text-align: left;
    padding-left: 15px;
  }

  th {
    border-bottom: solid 1px #ccc;
  }

  th.team {
    border-bottom: none;
  }

  tr:last-child td.red {
    border-bottom: 1px solid $team--red;
  }

  tr:last-child td.blue {
    border-bottom: 1px solid $team--blue;
  }

  tr:last-child td.class {
    border-bottom: 1px solid #666;
  }

  td.pov {
    background-color: #ddd;
  }

  .demo-info {
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

  .demo-info .time {
    float: right;
  }

  @media (max-width: 650px) {
    .stat {
      display: none;
    }
  }
}

table.chat {
  td.duration {
    width: 80px;
    text-align: right;
    color: #aaa;
  }
  td.user {
    white-space: nowrap;
    vertical-align: top;
    width: 20%;
    color: #666;
    text-align: right;
    border-right: 1px solid #ccc
  }
}

p.demo-download {
  margin-top:40px;

  button, a {
    margin-right: 40px;
  }
}

p.demo-info {
  .time{
    float:right;
    font-weight: bold;
  }
}
