footer {
  margin: 0 -31px;
  margin-bottom: -100px;
  margin-top: 100px;
  text-align: center;
  color: $font-color--light;
  background-color: $background--dark;
  line-height: 35px;
  vertical-align: middle;
  padding: 10px 0;

  a, a:visited {
    color: $link-color--light;
  }
}

@media (min-width: 1700px) {
  footer {
    margin: 0;
    position: fixed;
    right: 15px;
    bottom: 0;
    width: 280px;
    text-align: right;
  }
}
