table.chat, table.players {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

.demo-page td, .demo-page th {
  padding: 5px 9px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.demo-page table tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.demo-page table tr:nth-child(even) {
  background-color: white;
}

.demo-page table th {
  padding: 7px 9px;
}


p.demo-info .time {
  float: right;
  font-weight: bold;
}

p.demo-download {
  margin-top: 40px;
}

p.demo-download button, p.demo-download a {
  margin-right: 40px;
}

@media (max-width: 450px) {
  p.demo-download button, p.demo-download a {
    margin-right: 0;
  }

  p.demo-download button {
    float: right;
  }
}
