table.chat, table.players {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table.players {
  td, th {
    padding: 5px 9px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  tr:nth-child(odd) {
    background-color: #f4f4f4;
  }

  tr:nth-child(even) {
    background-color: white;
  }

  th {
    padding: 7px 9px;
  }
}

p.demo-info .time {
  float: right;
  font-weight: bold;
}

p.demo-download {
  margin-top: 40px;
}

p.demo-download button, p.demo-download a {
  margin-right: 40px;
}

@media (max-width: 450px) {
  p.demo-download button, p.demo-download a {
    margin-right: 0;
  }

  p.demo-download button {
    float: right;
  }
}
