.demolist {
	width: 100%;
	text-align: left;
	border: none;
	border-collapse: collapse;
}

.demolist tbody {
	width: 100%;
}

.demolist th {
	font-weight: bold;
}

.demolist td, .demolist th {
	max-width: 50px;
	padding: 9px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0;
}

.demolist td.date {
	width: 120px;
}

.demolist td.duration {
	width: 90px;
	text-align: right;
}

.demolist td.format {
	width: 75px;
	text-align: right;
}

.demolist td.map {
	width: 180px;
}

.demolist tr.even {
	background-color: #F8F8F8;
}

.search {
	padding-bottom: 10px;
}

@media (max-width: 950px) {
	.demolist .format {
		display: none;
	}
}

@media (max-width: 850px) {
	.demolist .duration {
		display: none;
	}
}

@media (max-width: 750px) {
	.demolist .date {
		display: none;
	}
}

@media (max-width: 550px) {
	.demolist .map {
		display: none;
	}
}
