table.chat {
  td.user {
    white-space: nowrap;
    vertical-align: top;
    width: 20%;
    color: var(--text-secondary);
    text-align: right;
    border-right: 1px solid #ccc
  }

  td.message {
    word-break: break-all;
  }

  td.duration {
    width: 80px;
    text-align: right;
    color: var(--text-secondary);
  }
}
