.filterbar {
  margin-top: 20px;

  & > div {
    display: inline-block;
  }

  div.type {
    width: 150px;
  }

  div.map {
    width: 200px;
  }

  div.players {
    width: calc(100% - (150px + 200px));
  }
}
