.filterbar {
  margin-top: 20px;
  display: flex;

  & > div {
    display: inline-block;
  }

  div.type {
    width: 150px;
  }

  div.map {
    width: 200px;
  }

  div.players {
    flex: 1 1;
  }
}
