header {
	width: 100%;
	white-space: nowrap;
	background-color: white;
	border-bottom: 1px solid rgb(183, 183, 183);
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 3;
}

header > span {
	left: 0;
	top: 0;
	z-index: 3;
	padding: 0;
	float: left;
}

header a,
header a:visited {
	color: #777;
	cursor: pointer;
	padding: .5em 1em;
	text-decoration: none;
	display: block;
}

header > ul {
	top: 0;
	float: right;
}

header a.steam-login:before {
	content: '';
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
	height: inherit;
	width: 40px;
	background-size: 30px 30px;
	background: rgba(255, 255, 255, 0.08) url('../images/steam_login.png') no-repeat 0;
	bottom: 0;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

header a.steam-login {
	display: inline-block;
	height: 35px;
	margin: -1px 0;
	background-color: #5A8E27;
	color: white;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
	line-height: 22px;
	position: relative;
	padding-left: 50px;
}
