header {
  width: 100%;
  white-space: nowrap;
  background-color: var(--primary-color);
  border-bottom: 1px solid rgb(183, 183, 183);
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;

  .main a {
    background: url('../images/logo.svg') no-repeat 0;
    background-size: 30px;
    padding-left: 35px;
    margin-left: 5px;
  }

  & > span {
    left: 0;
    top: 0;
    z-index: 3;
    padding: 0;
    float: left;
    max-width: 220px;
  }

  a, a:visited {
    color: var(--text-secondary);
    cursor: pointer;
    padding: .5em 1em;
    text-decoration: none;
    display: block;
  }

  & > ul {
    top: 0;
    float: right;
  }
  @media (max-width: 550px) {
    .main a {
      width: 0;
      overflow: hidden;
      padding-right: 0;
    }
  }

  @media (max-width: 650px) {
    .upload {
      display: none;
    }
  }
}
