.playerTable {
    width: 100%;
}

.playerTable th {
    text-align: left;
}

table.players {
    width: 100%;

    .name {
        vertical-align: top;
    }

    .name a {
        text-decoration: none;
        color: black;
        white-space: nowrap;
    }

    .name a:hover {
        text-decoration: underline;
    }

    .team {
        width: 20px;
    }

    .team.red {
        background: #a75d50;
    }

    .team.blue {
        background: #5b818f;
    }

    .stat {
        text-align: right;
    }

    .stat, .class {
        width: 40px;
        vertical-align: top;
    }

    .blue.name {
        text-align: right;
        padding-right: 15px;
    }

    .red.name {
        text-align: left;
        padding-left: 15px;
    }

    th {
        border-bottom: solid 1px #ccc;
    }

    th.team {
        border-bottom: none;
    }

    tr:last-child td.red {
        border-bottom: 1px solid #a75d50;
    }

    tr:last-child td.blue {
        border-bottom: 1px solid #5b818f;
    }

    tr:last-child td.class {
        border-bottom: 1px solid #666;
    }

    td.pov {
        background-color: #ddd;
    }

    .demo-info {
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
    }

    .demo-info .time {
        float: right;
    }

    @media (max-width: 650px) {
        .stat {
            display: none;
        }
    }


    .highlight-red .red:not(.team) {
        background-color: #a75d5066;
    }

    .highlight-blue .blue:not(.team) {
        background-color: #5b818f66;
    }
}
